<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pet._id %></title>
</head>
<body>
    <h1><%= pet.name %></h1>
    <h2><%= pet.typeOfAnimal %></h2>
    <!-- controls -->
    <a href="/pets"><button>Back to all Pets</button></a>
    <a href="/pets/<%=pet._id%>/updatePet"><button>Update your pet!</button></a>
    <form action="/pets/<%= pet._id %>?_method=DELETE" method="post">
        <button type="submit">Delete <%= pet.name %></button>
    </form>
</body>
</html>